<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-OXTEbYDqaX2ZY/BOaZV/yFGChYHtrXH2nyXJ372n2Y8abBhrqacCEe+3qhSHtLjy"
      crossorigin="anonymous"
    />

    <title>Recurso</title>
  </head>
  <body>
    <style>
      html,
      body {
        overflow-x: hidden;
        overflow-y: hidden;
        color: black;
        font-family: "Opens Sans", helvetica;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
      }
    </style>
    <%- include('partials/navigation') %>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="http://localhost:3007/api/v1/cliente?limit=8&&offset=0"
            >1</a
          >
        </li>
        <!-- <li class="page-item"><a class="page-link" href="http://localhost:3006/api/v1/unidad?limit=11&&offset=9">2</a></li> -->
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <h3 style="text-align: center" id="titulo">RECURSO</h3>
    <br />

    <!-- Modal crear -->
    <div class="modal" tabindex="-1" id="nimodal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Creacion Cliente</h5>
          </div>
          <div class="modal-body">
            <div style="background-color: red; display: flex; width: 10%">
              <span id="err"></span>
            </div>
            <form id="formular" action="">
              <div class="mb-3">
                <label for="recunomb" class="form-label"
                  >Año del periodo</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="recunomb"
                  name="recunomb"
                  tabindex="1"
                  required
                />
                <label for="recusuho" class="form-label"
                  >Mes del periodo</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="recusuho"
                  name="recusuho"
                  tabindex="1"
                  required
                />
                <label for="recuvanu" class="form-label">Descripcion del periodo</label>
                <input
                  type="text"
                  class="form-control"
                  id="recuvanu"
                  name="recuvanu"
                  tabindex="1"
                  required
                />
              </div>
              <div class="mb-3">
                <!-- <label for="user" class="form-label">Rol</label>
              <select id="rol" name="rol" class="form-select" aria-label="Default select example" tabindex="2">
                  <option value="admin" selected>Admin</option>
                  <option value="data entry">Data Entry</option>
              </select> -->
              </div>
              <button id="btnCliente" class="btn btn-primary" tabindex="5">
                Guardar
              </button>
              <a href="" data-bs-dismiss="modal" class="btn btn-secondary"
                >Cancelar</a
              >
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <!-- Modal editar -->
    <div class="modal" tabindex="-1" id="modal_edit">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar Cliente</h5>
          </div>
          <div class="modal-body">
            <form id="editForm">
              <div class="mb-3">
                <label for="recucodi" class="form-label">ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="recucodi"
                  name="recucodi"
                  tabindex="1"
                  required
                />
                <label for="user" class="form-label">Año del periodo</label>
                <input
                  type="text"
                  class="form-control"
                  id="recunombe"
                  name="recunombe"
                  tabindex="1"
                  required
                />
                <label for="user" class="form-label">Mes del Periodo</label>
                <input
                  type="text"
                  class="form-control"
                  id="recusuhoe"
                  name="recusuhoe"
                  tabindex="1"
                  required
                />
                <label for="user" class="form-label">Descripcion del Periodo</label>
                <input
                  type="text"
                  class="form-control"
                  id="recuvanue"
                  name="recuvanue"
                  tabindex="1"
                  required
                />
                <label for="user" class="form-label">Total Costo</label>
                <input
                  type="text"
                  class="form-control"
                  id="recutocoe"
                  name="recutocoe"
                  tabindex="1"
                  required
                />
              </div>
              <button
                class="btn btn-primary"
                tabindex="5"
                onclick="actualizarCliente()"
              >
                Actualizar
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <!--  -->

    <div class="container">
      <a
        style="position: relative; bottom: 40px"
        class="btn btn-outline-primary"
        data-bs-toggle="modal"
        data-bs-target="#nimodal"
        title="Crear"
        ><i class="fa-solid fa-plus"></i
      ></a>
      <table
        style="position: relative; bottom: 55px"
        class="table table-hover table-bordered-primary table-striped text-center mt-4 position"
      >
        <thead>
          <tr class="bg-primary text-white">
            <th scope="col">ID</th>
            <th scope="col">Año del Periodo</th>
            <th scope="col">Mes del Periodo</th>
            <th scope="col">Descripcion </th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% periodo.forEach((period)=> {%>
          <tr>
            <td><%= period.pericodi %></td>
            <td><%= period.periano %></td>
            <td><%= period.perimes %></td>
            <td><%= period.peridesc %></td>
            <td><%= period.periesta %></td>


            <td>
              <a
                id="clientesId"
                class="btn btn-outline-info"
                onclick="obtenerCliente('<%=period.pericodi %>')"
                data-bs-toggle="modal"
                data-bs-target="#modal_edit"
                title="Editar"
                ><i class="fa-solid fa-pencil"></i
              ></a>
              <a href="/delete" class="btn btn-outline-danger"
                ><i class="fa-solid fa-trash"></i
              ></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <footer
      style="
        background-color: rgb(5, 5, 5);
        color: white;
        text-align: center;
        height: 400%;
        position: relative;
        top: 362px;
        height: 60px;
        line-height: 60px;
      "
    >
      <p>Made In Horbath Technologies - Hecho como el elefante</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/aa384fa16a.js"
      crossorigin="anonymous"
    ></script>
    <script>
      const titulo = document.getElementById("titulo");
      const mn = location.pathname.split("/");
      titulo.innerHTML = `${mn[3]}s`.toUpperCase();
      const urls = (id) => `http://localhost:3010/api/v1/recurso/${id}`;

      async function obtenerCliente(id) {
        const res = await fetch(urls(id), {
          headers: {
            "Content-Type": "application/json",
          },
        });

        const idRecurso = document.getElementById("recucodi");
        const nomRecurso = document.getElementById("recunombe");
        const valorRecurso = document.getElementById("recusuhoe");
        const valorHora = document.getElementById("recuvanue");
        const valorCosto = document.getElementById("recutocoe");

        const data = await res.json();
        console.log(data);
        idRecurso.value = data.recucodi;
        nomRecurso.value = data.recunomb;
        valorRecurso.value = data.recusuho;
        valorHora.value = data.recuvanu;
        valorCosto.value = data.recutoco;
      }
      async function actualizarCliente() {
        const form = document.getElementById("editForm");
        const selectEstado = document.getElementById("clieesta");
        const updateCliente = new FormData(form);
        const id = updateCliente.get("id");
        const nombre = updateCliente.get("cli");
        let estado = selectEstado.value;
        console.log(id);
        if (estado == "I | Inactivo") {
          estado = "I";
        } else if (estado == "A | Activo") {
          estado = "A";
        }

        console.log(estado);
        const actRecurso = {
          recunomb: nombre,
          recusuho: estado,
          recuvanu: estado,
          recutoco: estado,
        };
        const res = await fetch(urlsAct(id), {
          method: "PUT",
          body: JSON.stringify(actCliente),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        });
        console.warn(res);
        const data = await res.json();
        if (res.status !== 200) {
          console.log("eiiei");
        } else {
          console.log("bajba");
          location.href = `/api/v1/cliente`;
        }
      }
    </script>
  </body>
</html>
